@model AppUserListModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="content d-flex flex-wrap justify-content-between">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Yetkili</strong> Öğrenciler Sayfası</h1>

        <div class="row">
            <div class="d-flex">
                <div class="w-100">
                    <div class="row">

                        <div class="card flex-fill col-12 " style="border-radius: 25px;
																				box-shadow: 0 0 0 4px white, 0 4px 4px black;overflow-y:hidden;">
                            <div class="row">
                                <div class="card-header col-10">
                                    <h5 class="card-title mb-0">Öğrenciler</h5>
                                </div>
                                <div class="yetkili_btn col-2">

                                    <a style="color:white" id="myBtn">
                                        <strong>Yeni Öğrenci Ekle </strong>

                                    </a>
                                </div>
                            </div>

                            <table class="table my-0 text-center">
                                <thead>

                                    <tr>
                                        <th>ID</th>
                                        <th>TC Kimlik</th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Sınıf</th>
                                        <th>Şube</th>
                                        <th>Email</th>
                                        <th>Telefon</th>
                                        <th>Ekleyen ve tarihi</th>
                                        <th>Değiştiren ve tarihi</th>
                                        <th>Aktiflik durumu</th>
                                        <th>Düzenle veya sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Tc</td>
                                            <td>@item.Name</td>
                                            <td>@item.SurName</td>
                                            <td>@item.Class.Name</td>
                                            <td>@item.Branch.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>İsim-@item.CreatedDate</td>
                                            <td>İsim-@item.UpdatedDate</td>
                                            <td><span class="badge bg-success">Aktif</span></td>
                                            <td>
                                                <a href="../yetkili_islem_düzenle/yetkili_sinif_düzenle.html"><i class="align-middle" data-feather="edit"></i></a>
                                                <a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
                                            </td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form asp-controller="Account" asp-action="Register" method="post">
    <div class="popup">
        <div id="myModal" class="modal">
            <div class="medium-modal" id="modal-content1">
               
                   <input  name="Password" value="Sefa.123" type="hidden"/>

                    <span class="close">&times;</span>
                    <h2 class="modal-title text-center"><strong> Öğrenci Ekle</strong></h2>

                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Ad</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center"  name="Name" type="text" placeholder="Örneğin:Ahmet">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Soyad</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" name="SurName" type="text" placeholder="Örneğin:Yılmaz">
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Tc Kimlik</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" name="Tc" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <label for="tc" class="col-sm-3 col-form-label">Telefon</label>
                        <div class="col-sm-9">
                            <input class="answer-place" name="Phone" type="text">
                        </div>

                    </div>
                    <div class="row">
                        <label for="Ders" class="col-sm-3 col-form-label">Sınıf</label>
                        <div class="col-sm-9">
                            @await Component.InvokeAsync("ClassList")
                        </div>
                    </div>
                    <div class="row">
                        <label for="Ders" class="col-sm-3 col-form-label">Şube</label>
                        <div class="col-sm-9">
                            @await Component.InvokeAsync("BranchList")
                        </div>
                    </div>

                    <a id="upper" class="upper_btn">
                        <strong>İleri </strong>
                    </a>
             
            </div>
           
            <div class="modal-content2" id="modal-content2">
                <span class="close"></span>
                <h2 class="modal-title text-center"><strong> Öğrenci Veli Ekle</strong></h2>

                <div class="row">
                    <label for="name" class="col-sm-3 col-form-label">Veli Ad</label>
                    <div class="col-sm-9">
                        <input class="answer-place text-center" name="GuardianName" type="text" placeholder="Örneğin:Ahmet">
                    </div>
                </div>
                    <div class="row">
                        <label for="name" class="col-sm-3 col-form-label">Veli Soyad</label>
                        <div class="col-sm-9">
                            <input class="answer-place text-center" name="GuardianSurName" type="text" placeholder="Örneğin:Yılmaz">
                        </div>
                    </div>
                <div class="row">
                    <label for="name" class="col-sm-3 col-form-label">Veli Ad2</label>
                    <div class="col-sm-9">
                            <input class="answer-place text-center" name="GuardianName2" type="text" placeholder="Örneğin:Ahmet">
                    </div>
                </div>
                
                <div class="row">
                    <label for="name" class="col-sm-3 col-form-label">Veli Soyad2</label>
                    <div class="col-sm-9">
                            <input class="answer-place text-center" name="GuardianSurName2" type="text" placeholder="Örneğin:Yılmaz">
                    </div>
                </div>
                <div class="row">
                    <label for="tc" class="col-sm-3 col-form-label">Veli Telefon</label>
                    <div class="col-sm-9">
                            <input class="answer-place" name="GuardianPhone" type="text">
                    </div>

                </div>
                <div class="row">
                    <label for="tc" class="col-sm-3 col-form-label">Veli Telefon2</label>
                    <div class="col-sm-9">
                            <input class="answer-place" name="GuardianPhone2" type="text">
                    </div>

                </div>

                <div class="row">
                    <label for="tc" class="col-sm-3 col-form-label">Condition</label>
                    <div class="col-sm-9 ">
                    <select>
                        <option value="True">Aktif</option>
                        <option value="False">Pasif</option>
                    </select>
                   </div>
                </div>

                <div class="row">
                    <div class="col-9">
                        <a class="lower_btn" id="lower_btn">
                            <strong>Geri Dön</strong>
                        </a>
                    </div>
                    <div class="col-3">
                        <button id="cls_btn" type="submit">
                            <strong>Kaydet</strong>
                        </button>

                    </div>
                </div>


            </div>

        </div>
    </div>
    </form>
</main>
