@model AppUserListModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="content d-flex flex-wrap justify-content-between">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Öğrenci</strong> Ekleme Sayfası</h1>

        <div class="row">
            <div class="d-flex">
                <div class="w-100">
                    <div class="row">

                        <div class="card flex-fill col-sm-9" style="border-radius: 25px;
                                                                                    box-shadow: 0 0 0 4px white, 0 4px 4px black;">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Öğrenciler</h5>
                            </div>
                            <table class="table my-0 text-center">
                                <thead>

                                    <button id="myBtn" class="rapor_button" style="position:relative;left:87%; width:max-content;overflow: hidden;">
                                        <strong>Yeni Öğrenci Ekle </strong>

                                    </button>
                                    <tr>
                                        <th class="d-none d-md-table-cell">ID</th>
                                        <th>Ad-Soyad</th>
                                        <th>Sınıf</th>
                                        <th>Şube</th>
                                        <th class="d-none d-md-table-cell">Ekleyen ve tarihi</th>
                                        <th class="d-none d-md-table-cell">Değiştiren ve tarihi</th>
                                        <th>Aktiflik durumu</th>
                                        <th>Düzenle veya sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td class="d-none d-md-table-cell">@item.Id</td>
                                            <td class="d-none d-md-table-cell">@item.Name</td>
                                            <td class="d-none d-md-table-cell">@item.Class.Name</td>
                                            <td class="d-none d-md-table-cell">@item.Branch.Name</td>
                                            <td class="d-none d-md-table-cell">@item.CreatedDate</td>
                                            <td class="d-none d-md-table-cell">@item.UpdatedDate</td>
                                            <td><span class="badge bg-success">@item.Condition</span></td>
                                            <td>
                                                <a href="../kullanici_ayarlar_duzenlemeler/ögrenci_düzenleme.html"><i class="align-middle" data-feather="edit"></i></a>
                                                <a><i class="align-middle m-2" data-feather="trash-2" style="color: red;"></i></a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup">
            <div id="myModal" class="modal">
                <div class="modal-content" id="medium-modal">
                    <span class="close">&times;</span>
                    <h2 class="modal-title text-center"><strong> Öğrenci Ekle</strong></h2>
                    <form>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="form-group row d-flex">
                                    <label for="name" class="col-sm-2 col-form-label">İsmi</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown text-center" type="text" placeholder="Örneğin:Ahmet">
                                    </div>
                                    <label for="name" class="col-sm-2 col-form-label">Soyismi</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown text-center" type="text" placeholder="Örneğin:Yılmaz">
                                    </div>
                                    <label for="tc" class="col-sm-2 col-form-label">TC Kimlik:</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown" type="text">
                                    </div>
                                    <label for="tc" class="col-sm-2 col-form-label">Email:</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown" type="text">
                                    </div>

                                    <label for="Ders" class="col-sm-2 col-form-label">Sınıf</label>
                                    <div class="col-sm-9">
                                        <select class="form-dropdown">
                                            <option value="">9</option>
                                            <option value="">10</option>
                                            <option value="">11</option>
                                        </select>
                                    </div>
                                    <label for="Ders" class="col-sm-2 col-form-label">Şube</label>
                                    <div class="col-sm-9">
                                        <select class="form-dropdown">
                                            <option value="">A</option>
                                            <option value="">B</option>
                                        </select>
                                    </div>
                                    <label for="tc" class="col-sm-2 col-form-label">Şifre:</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown" type="text">
                                    </div>
                                    <label for="tc" class="col-sm-2 col-form-label">Şifre Tekrar:</label>
                                    <div class="col-sm-9">
                                        <input class="form-dropdown" type="text">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <button id="cls_btn" class="upper_btn">
                            <strong>Kaydet </strong>
                        </button>
                    </form>

                </div>
            </div>

        </div>
</main>

