@model QuestionModel

<div class="modal-content2" id="modal-content2">
    <span class="close"></span>
    <h2><strong> Soru Cevabı Ekleme Alanı</strong></h2>
    <div class="row">
        <div class="col-6">
            <div class="form-group row d-flex">
                <label for="Ders" class="col-md-2 col-form-label ">A:</label>
                <div class="col-md-10">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="A" asp-for="@Model.Options[0].Name" type="hidden">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="A" asp-for="@Model.Options[0].Text" type="text">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="True" asp-for="@Model.Options[0].Condition" type="hidden">
                    <input itemtype="" placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="@Model.Id" asp-for="@Model.Options[0].QuestionId" type="hidden">
                </div>
                <label for="Ders" class="col-md-2 col-form-label ">B:</label>
                <div class="col-md-10">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="B" asp-for="@Model.Options[1].Name" type="hidden">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" asp-for="@Model.Options[1].Text" type="text">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="True" asp-for="@Model.Options[1].Condition" type="hidden">
                    <input itemtype="" placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="@Model.Id" asp-for="@Model.Options[1].QuestionId" type="hidden">
                </div>
                <label for="Ders" class="col-md-2 col-form-label ">C:</label>
                <div class="col-md-10">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="C" asp-for="@Model.Options[2].Name" type="hidden">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" asp-for="@Model.Options[2].Text" type="text">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="True" asp-for="@Model.Options[2].Condition" type="hidden">
                    <input itemtype="" placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="@Model.Id" asp-for="@Model.Options[2].QuestionId" type="hidden">
                    <br>
                </div>
                <label for="Ders" class="col-md-2 col-form-label ">D:</label>
                <div class="col-md-10">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="D" asp-for="@Model.Options[3].Name" type="hidden">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" asp-for="@Model.Options[3].Text" type="text">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="True" asp-for="@Model.Options[3].Condition" type="hidden">
                    <input itemtype="" placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="@Model.Id" asp-for="@Model.Options[3].QuestionId" type="hidden">
                    <br>
                </div>
                <label for="Ders" class="col-md-2 col-form-label ">E:</label>
                <div class="col-md-10">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="E" asp-for="@Model.Options[4].Name" type="hidden">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" asp-for="@Model.Options[4].Text" type="text">
                    <input placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="True" asp-for="@Model.Options[4].Condition" type="hidden">
                    <input itemtype="" placeholder="A Şıkkını Giriniz..." class="form-dropdown text-center" value="@Model.Id" asp-for="@Model.Options[4].QuestionId" type="hidden">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <button id="lower_btn" class="lower_btn">
        <strong>Geri Dön</strong>
    </button>
    <button id="two" class="upper_btn " type="submit">
        <strong>İlerle </strong>
    </button>
</div>